/* Colors
 * Primary - #13C15B
 * Secondary - #3DF4BD
 * Warning - #F45800
 */

html {
  background-color: #efefef;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p, h1, h2, h3, h4, h5, h6, span, a, div {
    color: #666;
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-weight: 100;  
}
table td, table th {
    vertical-align: inherit;
}
.background-image-component {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.wrap {
  padding-top: 120px;
}
.hidden {
  display: none;
}
.subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  border-bottom: 5px solid #13C15B;
  padding-bottom: 5px;
}
.sub-text {
  font-size: 16px;
  margin-bottom: 10px;
}
.heavy {
  font-weight: 700;
}
/* ----------------------------- Nav ------------------------------------ */
.app-nav {
  position: fixed;
  width: 100%;
  background-color: #13C15B;
  color: #fff;
}
.app-nav a, .app-nav p, .app-nav li {
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
}
.app-nav a:hover {
  color: #fff;
  text-decoration: underline;
}
.app-nav .app-name {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
.company-name {
  font-size: 16px;
}

/* ---------------------------- Login --------------------------------- */
.login-button {
  background-color: #13C15B;
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  border: none;
  border-radius: 0;
}
.login-button:hover {
  color: #fff;
  border: none;
}
.login.is-loading {
  color: #fff;
}

.card-title {
  font-size: 16px;
  margin-bottom: 10px; 
}
.rc-pagination {
  margin-bottom: 30px;
}
.rc-pagination-item-active {
    background-color: #13C15B;
    border-color: #13C15B;
}
.rc-pagination-item:hover {
    color: #13C15B;
    border-color: #13C15B; 
}

.project-tasks {
  margin: 0 20px 20px 20px;
  font-size: 20px;
  text-align: center;
}
.project-tasks-icon {
  margin-left: 10px;
  top: 5px;
  color: #ddd !important;
}
.teamwork-project-link {
  color: #13C15B;
}
.person-time-table td {
  text-align: center !important;
}

/* ------------------------------------ Loading ---------------------------- */
.loading-wrapper {
  text-align: center;
}
.loading-wrapper p {
  font-size: 24px;
}
.sk-spinner {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.sk-cube {
  background-color: #13C15B;
}


/* --------------------------- Media Queries ----------------------------- */
@media(max-width: 999px){
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}