/* Colors
 * Primary - #13C15B
 * Secondary - #3DF4BD
 * Warning - #F45800
 */

html {
  background-color: #efefef;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p, h1, h2, h3, h4, h5, h6, span, a, div {
    color: #666;
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-weight: 100;  
}
table td, table th {
    vertical-align: inherit;
}

.background-image-component {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.wrap {
  padding-top: 120px;
}
.hidden {
  display: none;
}

.card-title {
  font-size: 16px;
  margin-bottom: 10px; 
}
.rc-pagination {
  margin-bottom: 30px;
}
.rc-pagination-item-active {
    background-color: #13C15B;
    border-color: #13C15B;
}
.rc-pagination-item:hover {
    color: #13C15B;
    border-color: #13C15B; 
}

.project-tasks {
  margin: 0 20px 20px 20px;
  font-size: 20px;
  text-align: center;
}
.project-tasks-icon {
  margin-left: 10px;
  top: 5px;
  color: #ddd !important;
}
.teamwork-project-link {
  color: #13C15B;
}
.person-time-table td {
  text-align: center !important;
}

.loading-wrapper {
  text-align: center;
}
.loading-wrapper p {
  font-size: 24px;
}
.sk-spinner {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.sk-cube {
  background-color: #13C15B;
}